<section class="clients bg-primary-section">
	<div class="section-content">
		<h2 class="section-title clients-title">Opinie klientów</h2>
		<div class="flex justify-center">
			<swiper [config]="config" class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="clients-card">
							<div class="clients-card-content">
								Możesz zarządzać swoimi obowiązkami w łatwej do skonfigurowania aplikacji. Nigdy nie korzystałem z
								takiej apki, ale gdy zobaczyłem todoapp nie wyobrażam sobie bez niej życia.
							</div>
							<div class="clients-card-footer">
								<div class="clients-card-photo">
									<img src="../../../../../assets/tda-jack.svg" alt="Jack Nylan - Frontend Developer" />
								</div>
								<div class="clients-card-info">
									<span class="clients-card-client">Jack Nylan</span>
									<span class="clients-card-job">Frontend Developer</span>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="clients-card">
							<div class="clients-card-content">
								Myślę, że to najlepszy menadżer mojego czasu jakiego kiedykolwiek używałam. Pomaga mi w pracy, oraz w
								obowiązkach domowych. Polecam ją każdemu!
							</div>
							<div class="clients-card-footer">
								<div class="clients-card-photo">
									<img src="../../../../../assets/tda-natalia.svg" alt="Natalia Mak - nauczycielka" />
								</div>
								<div class="clients-card-info">
									<span class="clients-card-client">Natalia Mak</span>
									<span class="clients-card-job">Nauczycielka</span>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="clients-card">
							<div class="clients-card-content">
								Moja dziewczyna bardzo chwali sobie tą aplikację, ponieważ może teraz kontrolować co będę robił podczas
								jej nieobecności… Natomiast ja używam jej w pracy i jestem z niej zadowolony.
							</div>
							<div class="clients-card-footer">
								<div class="clients-card-photo">
									<img src="../../../../../assets/tda-thomas.svg" alt="Thomas White - UX Designer" />
								</div>
								<div class="clients-card-info">
									<span class="clients-card-client">Thomas White</span>
									<span class="clients-card-job">UX Designer</span>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="clients-card">
							<div class="clients-card-content">
								Todoapp sprostał moim oczekiwaniom co do menadżera zadań. Aplikacja jest prosta w użytkowaniu oraz
								posiada wiele funkcji, które pomagają gospodarować moim cennym czasem.
							</div>
							<div class="clients-card-footer">
								<div class="clients-card-photo">
									<img src="../../../../../assets/tda-eddy.svg" alt="Eddy McGregor - Project Manager" />
								</div>
								<div class="clients-card-info">
									<span class="clients-card-client">Eddy McGregor</span>
									<span class="clients-card-job">Project Manager</span>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="clients-card">
							<div class="clients-card-content">
								Aplikację poleciła mi moja przyjaciółka i od razu ją polubiłam. Od teraz nie spóźniam się na ważne
								spotkania, a deadliny nie są już problemem, gdyż wszystko mam zrobione dużo wcześniej.
							</div>
							<div class="clients-card-footer">
								<div class="clients-card-photo">
									<img src="../../../../../assets/tda-anna.svg" alt="Anna Rozwadowska - studentka" />
								</div>
								<div class="clients-card-info">
									<span class="clients-card-client">Anna Rozwadowska</span>
									<span class="clients-card-job">Studentka</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</swiper>
		</div>
	</div>
</section>
