<div class="mobile-logo-container">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.731 48.336">
		<g id="SvgjsG6124" transform="translate(-6.591 -8.789)">
			<path
				id="Path_62"
				data-name="Path 62"
				d="M10.986,26.366H13.56l4.394,4.394H6.591V8.789H28.562v5.147l-4.394,4.394V13.183H10.986Z"
				fill="#0D7BBA"
			/>
			<path
				id="Path_63"
				data-name="Path 63"
				d="M37.351,11.364,24.169,24.544,15.38,15.758v6.214l8.789,8.788L37.351,17.577Z"
				fill="#0D7BBA"
			/>
			<rect
				id="Rectangle_16"
				data-name="Rectangle 16"
				width="17.577"
				height="4.394"
				transform="translate(41.745 8.789)"
				fill="#0D7BBA"
			/>
			<rect
				id="Rectangle_17"
				data-name="Rectangle 17"
				width="17.577"
				height="4.394"
				transform="translate(41.745 17.577)"
				fill="#0D7BBA"
			/>
			<rect
				id="Rectangle_18"
				data-name="Rectangle 18"
				width="26.366"
				height="4.394"
				transform="translate(32.957 26.366)"
				fill="#0D7BBA"
			/>
			<path
				id="Path_64"
				data-name="Path 64"
				d="M10.986,52.73H13.56l4.394,4.394H6.591V35.153H28.562V40.3L24.169,44.7v-5.15H10.986Z"
				fill="#0D7BBA"
			/>
			<path
				id="Path_65"
				data-name="Path 65"
				d="M37.351,37.728,24.169,50.911,15.38,42.122v6.214l8.789,8.789L37.351,43.942Z"
				fill="#0D7BBA"
			/>
			<rect
				id="Rectangle_19"
				data-name="Rectangle 19"
				width="17.577"
				height="4.394"
				transform="translate(41.745 35.153)"
				fill="#0D7BBA"
			/>
			<rect
				id="Rectangle_20"
				data-name="Rectangle 20"
				width="17.577"
				height="4.394"
				transform="translate(41.745 43.942)"
				fill="#0D7BBA"
			/>
			<rect
				id="Rectangle_21"
				data-name="Rectangle 21"
				width="26.366"
				height="4.394"
				transform="translate(32.957 52.73)"
				fill="#0D7BBA"
			/>
		</g>
	</svg>
</div>
