<section class="accessibility bg-primary-section">
	<div class="section-content">
		<h2 class="section-title">Todoapp dostępne jest na wielu platformach</h2>
		<p class="accessibility-subtitle">Gospodaruj czasem jak chcesz, na jakim urządzeniu masz ochotę.</p>
		<img src="../../../assets/tda-devices.png" alt="Todoapp in different devices" class="accessibility-photo" />
		<tda-button class="accessibility-findout-button button-huge" label="Find out more button"
			>Dowiedz się więcej</tda-button
		>
	</div>
</section>
