<footer class="footer">
	<div class="footer-container">
		<div class="footer-content">
			<tda-mobile-logo class="hidden sm:block"></tda-mobile-logo>
			<p class="footer-description">
				Dołącz do milionów użytkowników, którzy poprawili swoją produktywność oraz lepiej organizują swój dzień.
			</p>
			<div class="footer-icons-container">
				<div class="footer-icons">
					<fa-icon [icon]="faFacebookSquare" class="footer-icon"></fa-icon>
					<fa-icon [icon]="faYoutube" class="footer-icon"></fa-icon>
					<fa-icon [icon]="faTwitter" class="footer-icon"></fa-icon>
					<fa-icon [icon]="faInstagram" class="footer-icon"></fa-icon>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright-container">
		<span class="footer-copyright">&copy; 2021 Todoapp</span>
	</div>
</footer>
