@use '~@angular/material' as mat;

@include mat.core();

.home-theme {
	$home-typography: mat.define-typography-config(
		$font-family: 'Montserrat',
	);

	$home-theme: mat.define-light-theme(
		(
			typography: $home-typography,
		)
	);

	@include mat.all-component-themes($home-theme);
}

.todoapp-theme {
	$todoapp-typography: mat.define-typography-config(
		$font-family: '-apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto',
	);

	$todoapp-theme: mat.define-light-theme(
		(
			typography: $todoapp-typography,
		)
	);

	@include mat.all-component-themes($todoapp-theme);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@apply bg-light-secondary;
}
/*This class provides full width (100%) for the buttons in mobile nav*/
.button-full {
	@apply w-full;
}
.button-huge {
	@apply 3xl:text-3xl 3xl:py-5 3xl:rounded-xl;
}
.section {
	@apply w-full py-32 px-5 sm:px-10;
}
.bg-primary-section {
	@apply w-full py-32 bg-primary;
}
.section-content {
	@apply flex flex-col items-center;
}
.section-title {
	@apply text-3xl my-5 mx-2 text-center font-bold sm:text-4xl lg:text-5xl 3xl:text-7xl;
}
.section-description {
	@apply text-secondary m-5 3xl:text-3xl;
}
